@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat&family=Roboto&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}

.openingPage{
    background-image:linear-gradient(to left, rgba(167, 128, 194, 0.4), rgba(121, 113, 238, 0.3)), url('../images/gems.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.nav-bar{
    padding-top: .8rem;
    display: flex;
    justify-content: space-around;
    height: 2rem; 
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    background-image: linear-gradient(to left, rgba(167, 128, 194, 0.5), rgba(121, 113, 238, 0.3)), url('../images/gems.jpg'); 
}
.sticky{
    position: fixed;
    width: 100%;
    top: 0;
    padding-top: .5rem;
    z-index: 5;
}
.fa-bars{
    font-size: 1.4rem;
    cursor: pointer;
    color: #302a2e;
    padding-top: .9rem;
}
.page-list{
    padding-top: 3rem;
    list-style: none;
    line-height: 4rem;
    position: fixed;
    left: -100%;
    top: 0;
    background:linear-gradient(to top, #413c3c, #226272);;
    width: 15rem;
    height: 100vh;
    transition: ease-in-out 1s;
}
ul.show{
    left:0;
    transition: ease-in-out 1s;
}
.fa-xmark{
    position: absolute;
    right: 8px;
    top:10px;
    font-size: 2rem;
    color: white;

}
.fa-xmark:hover{
    color: #302a2e;
}
.page-list a{
    padding-left: 2rem;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Agbalumo',sans-serif;
    font-size: 1.6rem;
    margin: auto;
    text-align: left;
}
.page-list a:hover{
    color: #3a2f36;
    
    
}
.social-list a{
    color:white;
    padding:1px;
}
h3{
    font-family:'Agbalumo', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    padding-left: 1.4rem;
    margin-top: 1.5rem;
    color: white;
    margin-bottom: 0;
}
.fa-instagram{
    padding-left: 2rem;
}
.fa-instagram, .fa-facebook, .fa-twitter, .fa-tiktok{
    font-size: 1.5rem;
    color:#fff;
    margin-right: 20px;
    margin-bottom: 3rem;
}
.fa-instagram:hover, .fa-facebook:hover, .fa-twitter:hover, .fa-tiktok:hover{
    color: #302a2e;
}
.brand-logo{
    font-size: 1.7rem;
    font-family: 'Agbalumo' , sans-serif;
    color: #302a2e;
}

.nav-list{
    padding-top: 10px;
}

.nav-list li{
    list-style: none;
    display: inline;
    cursor: pointer;
    font-size: 1.4rem;
    padding-right: .9rem;
    padding-top: 1rem;
    color: #302a2e;
}
.nav-list li:hover, .fa-bars:hover{
    color: white;
}
.searchbar{
    width: 100%;
    height: 100vh;
    margin: auto;
    display: none;
    z-index: 3;
    position: fixed;
    top:3.7rem;
    background-color: rgba(0, 0, 0, .8);
    padding: 2rem 0 0 1rem;
}
.searchbar.show{
    display: flex;
}
.srch{
    height: 3rem;
    width: 85%;
    padding-left: 2rem;
    font-family: 'Montstear';
    outline-style: initial;
}
.searchbtn{
    height: 3rem;
    width: 10%;
    background-color: rgb(64, 52, 65);
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    outline: none;
    color: #ffffff;
    font-size: 1rem;
}


.intro{
    padding-top: 7rem;
    width: 72%;
    align-items: center;
    margin: auto;
    
}
.intro-title{
    margin-bottom: 1rem;
    font-family: 'Montstreat' , sans-serif;
    font-size: 3.5rem;
    width: 65%;
    padding-top: 1rem;
    color: #071b52;
}
.intro-text{
    width:70%;
    font-size: 1.1rem;
}
.span{
    color: white;
    font-family: 'Montstreat' , sans-serif;
    font-size: 3rem;
}
.shopbtn{
    width: 30%;
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    background-color: #192e4b;
    border-radius: 10px;
    border: #0b0e13;
    color: white;
    font-size: 1.2rem;
}
.shopbtn:hover{
    background-color: #ffffff;
    color: black;
}

.brand {
    width: 85%;
    margin: auto;
    margin-bottom: 1rem;
    padding-top: 3rem;
}
.brand-col {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-right: 10px;
}
.brand-col1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    margin-right: 10px;
}

.brand-col img {
    width: 15%;
}
.brand-col1 img {
    width: 15%;
}
.new{
    margin-top: 2rem;
}
.row{
    display: flex;
}
.new-col{
    position: relative;
}
.new-col img{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.detail{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease-in;
    z-index: 1;
}
.detail:hover{
    background-color: rgba(192, 130, 197, 0.5);
    cursor: pointer;
}

.detail h2{
    color:#ffffff;
    transform:translate(0,280px);
    padding: 10px;
    font-size: 40px;
    font-weight: 500;
    background-color: #6262c566;   
}

.detail .btn{
    color: white;
    display: inline-block;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 500;
    transform: translate(30px,350px);
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ffffff;
}
.detail .btn:hover{
    cursor: pointer;
    color: #000000;
    transition: .3s ease-in;
    border-bottom: 1px solid #000000;
}

.products{
    padding: 50px;
    text-align:center;
}

.swiper{
    width:100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide{
    background-color: #226272;

}
@media(max-width:810px){
    .detail h2{
        font-size: 20px;
        font-weight: 100;
        transform:translate(0,100px);
    }
    .detail .btn{
        font-size: 16px;
        font-weight: 100;
        transform: translate(15px,150px)
    }
}
@media(max-width:800px){
    .nav-bar{
        justify-content: space-between;
        height: 1rem; 
        padding-left: 15px;
    }
    .sticky{
        position: fixed;
        width: 96%;
        top: 0;
        padding-top: .5rem;
        padding-bottom: 30px;
    }
    .searchbar{
        top:3.45rem;
    }
    .srch{
        height: 3rem;
        width: 70%;
        padding-left: 1rem;
    }
    .searchbtn{
        height: 3rem;
        width: 20%;
        padding: 0 8px;
        font-size: 1rem;
    }
    .intro{
        padding-top: 7rem;
        width: 90%;
        padding-left: 5px;
        }
    .intro-title{
        font-size: 2rem;
        padding-top: 5rem;
        width:100%;
    }

    .span{
        color: #071b52;
        font-size: 2rem;
    }
    .intro-text{
        width:90%;
        font-size: 1rem;
        margin-top: 1.4rem;
    }
    .shopbtn{
        width: 60%;
        margin-top: 1rem;
    }
    .brand-col{
        flex-direction: column;
        align-items: center;
    }
    .brand-col img {
        width: 50%;
    }
    .brand-col1{
        flex-direction: column;
        align-items: center;
    }
    .brand-col1 img {
        width: 50%;
        margin-right: 1px;
    }
    .row{
        flex-direction: column;
    }
    .detail h2{
        transform:translate(0,150px);
        padding: 10px;
        font-size: 20px; 
    }
    
    .detail .btn{
        font-size: 14px;
        transform: translate(30px,200px);
    }
    
    
}

@media (max-width:430px){
    .openingPage{
        height: 80vh;
    }
    .sticky{
        position: fixed;
        width: 96%;
        top: 0;
        padding-top: .5rem;
        padding-bottom: 30px;
    }
    .searchbar{
        top:3.3rem;
    }
    .intro{
        padding-top: 6rem;
        width: 95%;
        padding-left: 16px;
        }
    .intro-title{
        font-size: 2rem;
        padding-top: 1rem;
        width:95%;
    }
    .span{
        color: #071b52;
        font-size: 2rem;
    }
    .row {
        flex-direction: column;
    }
    .detail h2{
        transform:translate(0,150px);
        padding: 10px;
        font-size: 20px; 
    }
    
    .detail .btn{
        font-size: 14px;
        transform: translate(10px,200px);
    }
}